<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Digital Product School Challenge 2022</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="prediction">
        <h1>Number of Accidents Prediction</h1>
        <form action="{{ url_for('predict')}}"method="post">
			<label for="Year">Year</label>
    		<select id="Year" name="Year" required="required">
      			<option value="0">2021</option>
				<option value="1">2022</option>
      			<option value="2">2023</option>
      			<option value="3">2024</option>
      			<option value="4">2025</option>
      			<option value="5">2026</option>
      			<option value="6">2027</option>
      			<option value="7">2028</option>
      			<option value="8">2029</option>
      			<option value="9">2030</option>
    		</select>
    		<br>
				
    	<label for="Month">Month</label>
    		<select id="Month" name="Month" required="required">
      			<option value="1">1</option>
      			<option value="2">2</option>
      			<option value="3">3</option>
      			<option value="4">4</option>
      			<option value="5">5</option>
      			<option value="6">6</option>
      			<option value="7">7</option>
      			<option value="8">8</option>
                <option value="8">9</option>
                <option value="8">10</option>
                <option value="8">11</option>
                <option value="8">12</option>
    		</select>
    		<br>
            <label for="Category_Alkoholunfälle">Category_Alkoholunfälle</label>
    		<select id="Category_Alkoholunfälle" name="Category_Alkoholunfälle" required="required">
      			<option value="1">1</option>
    		</select>
    		<br>
            <label for="Category_Fluchtunfälle">Category_Fluchtunfälle</label>
    		<select id="Category_Fluchtunfälle" name="Category_Fluchtunfälle" required="required">
      			<option value="0">0</option>
    		</select>
    		<br>
            <label for="Category_Verkehrsunfälle">Category_Verkehrsunfälle</label>
    		<select id="Category_Verkehrsunfälle" name="Category_Verkehrsunfälle" required="required">
      			<option value="0">0</option>
    		</select>
    		<br>
            <label for="Type_VerletzteundGetötete">Type_Verletzte und Getötete</label>
    		<select id="Type_VerletzteundGetötete" name="Type_Verletzte und Getötete" required="required">
      			<option value="0">0</option>
    		</select>
    		<br>
            <label for="Type_insgesamt">Type_insgesamt</label>
    		<select id="Type_insgesamt" name="Type_insgesamt" required="required">
      		<option value="1">1</option>
    		</select>
    		<br>
             <label for="Type_mitPersonenschäden">Type_mit Personenschäden</label>
    		<select id="Type_mitPersonenschäden" name="Type_mitPersonen schäden" required="required">
      			<option value="0">0</option>
    		</select>
    		<br>
        	<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

       <br>
       <b>{{ prediction_text }}</b>
    </div>
</body>
</html>